body {
background: #1b2333;
color: #fff;
font-family:'Open Sans',sans-serif;
font-size:15px;
letter-spacing:2px;
}
img{
  margin:2px;
}
.links, .dt {
text-align: center;
margin-top: 14px;
padding: 20px;
border: 1px solid white;
border-width: 2px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 40px;
font-size: 19px;
}
.tw{
  text-align: center;
margin-top: 14px;
padding: 20px;
border: 1px solid #1BBDF7;
border-width: 2px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 40px;
font-size:19px;
  
  
}

*--------------------------------------
  カード型_06
--------------------------------------*/
.l-wrapper_06 {
    margin: 1rem auto;
    width: 75%;
    text-align:left;
  }
  

  .card_06 {
    background:rgba(240, 248, 255, 0.9) ;
    border-radius: 25px;
    box-shadow: 0 2px 5px #ccccc;
  }
  
  .card-img_06 {
    display:block;
    margin:auto;
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    height: auto;
  }
  .card-content_06 {
    padding: 8px 20px 20px;
  }
  .card-title_06 {
    font-size: 1.6em;
    color: #333;
    font-weight: 700;
  }
  .card-text_06 {
    color: rgb(58, 56, 56);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0.2em;
  }
  /*.card-link_06 {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
  }
  .card-link_06 a {
    text-decoration: none;
    color: #4f96f6;
    margin: 0 10px;
  }
  .card-link_06 a:hover {
    color: #6bb6ff;
  }
*/
  
  .card-content_06 p {
    margin-bottom:0;
  }
  /*CARDS 6*/

/*cards scroll*/

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow: auto;
  margin-top: 0px;
}
.card {
  height: 200px;
  max-width:100px;
  background-color: #7effb2;
  border-radius: 5px;
  flex: 1 0 56px;
}

/*cards scroll*/




a {
text-decoration: none;
color: white;
transition: color 1s;
font-size:24px;
}


.bottom-text {
text-align: center;
margin-top: 40px;
font-size: 20px;
font-weight: bold;
}
i{color:rgb(228, 47,155);}
c{color:#9ee1ca;} 
u{color:#ffb366;}
a:hover {
color: skyblue;
background: black;
}

h2{
   margin-bottom: 0px;}

footer{
background-color:rgba(24, 21, 21, 0.438);
height:auto;  
margin-top:7px;
margin-bottom:5px;
margin-left: auto;
margin-right: auto;
text-align: center;
}
.small{font-size: small;
}
hr{border: 1px solid rgb(82, 236, 200);}
